@import grid
@import nib

@font-face
  font-family 'Pragmatic'
  src url('../fonts/pragmatic.eot')
  src url('../fonts/pragmatic.eot?#iefix') format('embedded-opentype'), url('../fonts/pragmatic.svg#Pragmatic') format('svg'), url('../fonts/pragmatic.woff') format('woff'), url('../fonts/pragmatic.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Barnaul-Regular'
  src url('../fonts/barnaul-regular.eot')
  src url('../fonts/barnaul-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/barnaul-regular.svg#Barnaul-Regular') format('svg'), url('../fonts/barnaul-regular.woff') format('woff'), url('../fonts/barnaul-regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Barnaul-Italic'
  src url('../fonts/barnaul-italic.eot')
  src url('../fonts/barnaul-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/barnaul-italic.svg#Barnaul-Italic') format('svg'), url('../fonts/barnaul-italic.woff') format('woff'), url('../fonts/barnaul-italic.ttf') format('truetype')
  font-weight normal
  font-style normal

h1, h2, h3, h4, h5
  font-weight normal
  margin 0

border-box()
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

link-transition()
  -webkit-transition color 300ms ease-in-out
  -moz-transition color 300ms ease-in-out
  -ms-transition color 300ms ease-in-out
  -o-transition color 300ms ease-in-out
  transition color 300ms ease-in-out

.slabtexted .slabtext
  display -moz-inline-box
  display inline-block
  white-space nowrap

.slabtextinactive .slabtext
  display inline
  white-space normal
  font-size 1em !important
  letter-spacing inherit !important
  word-spacing inherit !important
  *letter-spacing 0 !important
  *word-spacing 0 !important

.slabtextdone .slabtext
  display block

.comments
  .hc_footer
    display none !important

#fader
  .loader
    margin-top 10%
    text-align center
    font-family 'Barnaul-Italic'
    font-size 1.2rem

nav#map
  position fixed
  bottom 10px
  right 10px
  z-index 1
  width 96px
  height 64px
  border 3px solid #444
  button
    position absolute
    display block
    width 26px
    height 26px
    text-indent -9999px
    background transparent
    border 3px solid #444
    cursor pointer
    &:hover
      border 0
      background #444
    &.blog
      left 36px
      top 4px
    &.archive
      top 34px
      left 4px
    &.portfolio
      top 34px
      left 36px
    &.contact
      top 34px
      right 4px
    &.ascensorLinkActive
      background #444
      cursor default

#ascensorBuilding
  overflow hidden
  background #FAFAFA url('../img/main-bg.png')

  section
    .container
      border-box()
      border 3px solid #444
      width 100%
      height 100%
      overflow auto

      @media media-grid
        grid()

      @media media-phone
        grid('p')
        padding 10px

      @media media-tablet
        grid('t')
        padding 15px

      @media media-desktop
        grid('d')
        padding 20px
  
  .blog-section, .post-section, .archive-section
    background url('../img/blog-bg.jpg')

    header
      max-width 1140px
      margin 0 auto

      .headline, .subline
        overflow hidden
        h1, h2
          margin 0
          padding 0
          display inline-block
          border-box()
          font-family 'Pragmatic'

        .icon-social-RSS
          color #141413
          text-decoration none
          font-size 1.8em
          padding 0 10px
          link-transition()
          &:hover
            color #9F2BD7

        h1
          background #141413
          color #E3DED8
          padding 10px 20px

          @media media-phone
            font-size 40px

          @media media-tablet
            font-size 50px

          @media media-desktop
            font-size 60px
        h2
          background #FFF
          color #141413
          padding 5px 20px

          @media media-phone
            font-size 30px

          @media media-tablet
            font-size 40px

          @media media-desktop
            font-size 50px

    section.content
      background #FFF
      max-width 1140px
      min-height 100px
      margin 0 auto
      border-bottom 3px solid #141413
      margin-bottom 30px

      hr.separator
        padding 0
        border none
        border-top medium double #141413
        color #141413
        text-align center
        &:after
          content "§"
          display inline-block
          position relative
          top -0.7em
          font-size 1.5em
          padding 0 0.25em
          background white

      article
        margin 20px 0
        &:first-child
          margin-top 0
          
        .left .wrap
          h1
            font-family 'Barnaul-Italic'
            margin 10px 20px
            font-size 1.85em
          .text 
            margin 10px 20px 20px 20px
            font-family 'Barnaul-Regular'
            font-size 1.21em
            line-height 1.5em
            p:first-line
              text-indent 20px
            a
              color #000
              font-family 'Barnaul-Italic'
              &:hover
                color #FF3333
                text-decoration none
        .right
          .wrap
            padding 2%

            time
              display block
              background #FF3333
              color #FFF
              width 100%
              max-width 200px
              height 150px
              position relative
              font-family 'Pragmatic'
              
              .day
                position absolute
                top 10%
                left 10%
                height 75px
                width 50%
                font-size 500%
                line-height 75px
                text-align center
                text-indent -10px
              .month
                left 10%
                bottom 5%
                position absolute
                
                width 50%
                font-size 290%
                text-align center

              .year-wrap
                right 0
                top 0
                bottom 0
                position absolute
                width 50%
                
                .year
                  display block
                  width 100%
                  height 50%
                  font-size 2.8em
                  position absolute
                  line-height 50%
                  top 25%
                  right 25%
                  -webkit-transform: rotate(90deg)
                  -moz-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  transform: rotate(90deg);

            .comments
              margin 20px 0
              a
                font-family 'Barnaul-Italic'
                color #000
                font-size 1.05em
                &:visited
                  color #000
                &:hover
                  color #FF3333
                  text-decoration none

            .topics
              h4
                font-size 17px
                margin 10px 0
                font-family 'Pragmatic'
              ul
                list-style none
                padding 0
                margin 0
                margin-left 10px
                display inline
                li
                  display inline
                  a
                    color #000
                    font-family 'Barnaul-Italic'
                    font-size 1.05em
                    &:visited
                      color #000
                    &:hover
                      color #FF3333
                      text-decoration none

            .social
              margin-top 30px
              h4
                font-family 'Pragmatic'
                font-size 17px
                margin 10px 0
              a
                text-align center
                color #000
                text-decoration none
                font-size 1.7em
                display inline-block
                width 25%
                max-width 40px
                &:hover
                  color #FF3333
      .paginator
        text-align center
        height 25px
        line-height 25px
        margin-bottom 20px
        span, a
          display inline-block
          margin 0 1px
          padding 0 8px
          font-family 'Barnaul-Italic'
        span.current
          color #FF3333
          &.prev, &.next
            color #CCC
        a
          text-decoration none
          color #000
          &:hover
            color #FF3333

    footer
      background #141413
      max-width 1140px
      margin 0 auto !important
      height 50px
      line-height 50px

      .blog-nav
        button, a
          color #FFF
          background transparent
          border 0
          text-decoration none
          font-size 17px
          font-family 'Pragmatic'
          &:hover, &.ascensorLinkActive
            color #FF3333
          &.ascensorLinkActive
            cursor default
          i
            padding-right 10px

        button
          margin-right 20px
      .menu menu
        list-style none
        padding 0
        margin 0
        clearfix()
        li
          display block
          float left
          color #FFF
          height 50px
          background #FF3333
          &.first
            padding-left 20px
          &.last
            padding-right 20px
          button
            border 0
            color #FFF
            background transparent
            font-family 'Pragmatic'
            font-size 17px
            margin 0 10px
            &:hover, &.ascensorLinkActive
              color #000
            &.ascensorLinkActive
              cursor default
            i
              padding-right 5px

      .copyrights
        color #FFF
        text-align right
        padding-right 20px
        font-family 'Pragmatic'
        font-size 17px

  .post-section
    .content
      padding 10px 0
      header
        h1.title
          margin 0
          padding 0 20px
          font-size 2.1em
          font-family 'Barnaul-Italic'
        time
          color #8C8C8C
          padding 0 20px
          font-size 17px
          font-family 'Pragmatic'
      section.short-text, section.full-text
        padding 15px 20px
        font-family 'Barnaul-Regular'
        font-size 1.21em
        line-height 1.5em
        p:first-line
          text-indent 20px
      .page-footer
        text-align right
        padding 0 20px
        clearfix()
        .social
          float right
          width 205px
          h4
            font-family 'Pragmatic'
            font-size 1.05em
            display inline-block
            float left
            margin 0
            line-height 24px
          a
            color #000
            text-decoration none
            font-size 1.5em
            display inline-block
            height 24px
            padding 0 5px
            &:hover
              color #FF3333
        .topics
          float left
          h4
            font-family 'Pragmatic'
            font-size 1.05em
            display inline
            padding-right 10px
          ul
            display inline
            list-style none
            padding 0
            margin 0
            li
              display inline
              a
                color #000
                font-family 'Barnaul-Italic'
                font-size 1.2em

                &:visited
                  color #000
                &:hover
                  color #FF3333
                  text-decoration none
      .comments
        margin 20px
  .archive-section
    ol, ul
      list-style none
      padding 0
      margin 0
      h1, h2
        margin 0
        font-family 'Barnaul-Italic'
    ol.years
      padding 20px
    ol.months
      padding-left 20px
      li.month
        margin 15px 0
        h2
          text-transform capitalize
    ol.posts 
      padding-left 20px
      li.post
        line-height 1.5em
        font-size 1.21em
        a
          color #000
          font-family 'Barnaul-Italic'
          &:hover
            color #FF3333
        ul.topics
          display inline
          padding-left 10px
          li
            display inline
  .portfolio-section
    header h1
      display inline-block
      background #D6F233
      color #000
      padding 20px
      font-size 3.1em
      font-family 'Barnaul-Italic'
