script(type='text/x-handlebars-template')#post-template
  article.row
    .col-d-4-5.col-t-2-3.left
      .wrap
        h1 {{title}}
        .text
          | {{shortText}}
          | {{#if fullText}}
          a(href='/posts/{{title}}/').more Подробнее...
          | {{/if}}
    .col-d-1-5.col-t-1-3.right
      .wrap
        time
          .day {{moment date 'DD'}}
          .month {{moment date 'MMM'}}
          .year-wrap
            .year {{moment date 'YYYY'}}
        .comments
          a(href="#") Комментарии (5)

        {{#if topics}}
        .topics
          h4 Темы
          ul
            | {{#each topics}}
            li
              a(href="#") {{this}}
              | {{#notLast ../topics this}}
              span ,
              | {{/notLast}}
            | {{/each}}
        {{/if}}

        .social
          h4 Поделиться
          a(href="#").icon-social-Vkontakte
          a(href="#").icon-social-twitter
          a(href="#").icon-social-google
          a(href="#").icon-social-facebook

script(type='text/x-handlebars-template')#post-separator-template
  hr.separator

script(type='text/x-handlebars-template')#full-post-template
  header
    h1.title {{title}}
    time {{moment date 'D MMMM YYYY'}}
    | {{#if shortText}}
    section.short-text {{shortText}}
    | {{/if}}
    | {{#if fullText}}
    section.full-text {{fullText}}
    | {{/if}}
  .page-footer
    | {{#if topics}}
    .topics
      h4 Темы:
      ul
        | {{#each topics}}
        li
          a(href='#') {{this}}
          | {{#notLast ../topics this}}
          span ,
          | {{/notLast}}
        | {{/each}}
    | {{/if}}
    .social
      h4 Поделиться:
      a(href="#").icon-social-Vkontakte
      a(href="#").icon-social-twitter
      a(href="#").icon-social-google
      a(href="#").icon-social-facebook

  .comments#hypercomments_widget