footer.row
  .col-1-5.blog-nav
    button(type='button')
      i.icon-arrow-up
    a(href='#/archive').ascensorLink.ascensorLink3
      i.icon-calendar
      span Архив
  .col-3-5.menu
    menu
      li.first
        button.ascensorLink.ascensorLink1
          i.icon-file-alt
          span Блог
      li |
      li
        button.ascensorLink.ascensorLink4
          i.icon-briefcase
          span Портфолио
      li |
      li.last
        button.ascensorLink.ascensorLink5
          i.icon-envelope
          span Контакты
  .col-1-5.copyrights &copy; Boris R.