ul.subfooter
  li.first
    button.ascensorLink.ascensorLink1
      i.icon-file-alt
      span Блог
  li |
  li
    button.ascensorLink.ascensorLink4
      i.icon-briefcase
      span Портфолио
  li |
  li.last
    button.ascensorLink.ascensorLink5
      i.icon-envelope
      span Контакты

footer.row
  .col-d-1-5.blog-nav
    button(type='button').up
      i.icon-arrow-up
    a(href='#!/archive').ascensorLink.ascensorLink3
      i.icon-calendar
      span Архив
  .col-d-3-5.menu
    menu
      li.first
        button.ascensorLink.ascensorLink1
          i.icon-file-alt
          span Блог
      li |
      li
        button.ascensorLink.ascensorLink4
          i.icon-briefcase
          span Портфолио
      li |
      li.last
        button.ascensorLink.ascensorLink5
          i.icon-envelope
          span Контакты
  .col-d-1-5.col-t-5-5.col-p-5-5.copyrights &copy; Boris R.