footer.row
  .col-1-5.blog-nav
    button(type='button').icon-chevron-up
    a(href='#') Архив
  .col-3-5.menu
    menu
      li.first
        button.ascensorLink.ascensorLink1 Блог
      li |
      li
        button.ascensorLink.ascensorLink3 Портфолио
      li |
      li.last
        button.ascensorLink.ascensorLink4 Контакты
  .col-1-5.copyrights &copy; Boris R.