- var getPostData = function() {
-     var post = contents.posts[page.parent.filename.split(path.sep)[1]]['data.json'].metadata;
-     delete post.template;
-     return post;
- }

!=JSON.stringify(getPostData())